{% extends "base.html" %}
{% block body %}

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Modelo</th>
        <th scope="col">Precision</th>
        <th scope="col">% Datos de entrenamiento</th>
        <th scope="col">% Datos de prueba</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <th class="column" scope="row">Logistic Regression</th>
        <td>{{ precision }}</td>
        <td>75%</td>
        <td>25%</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<div class="titulos">
  <h5>Tabla comparativa de los valores reales y los valores de prediccion</h5>
</div>
<table class="table table-hover table-bordered" id="example" class="display" style="width:100%">
  <thead>
      <tr class="table-info">
        <th scope="col" >#ID</th>
        <th scope="col" >Valor real</th>
        <th scope="col"></th>
        <th scope="col" >Predicción</th>
        <th scope="col"></th>
      </tr>
  </thead>
  <tbody>
    {% for item in data %}
        <tr>
          <th>{{ item.0}}</th>
          {% if item.1 == 1 %}
          <td>{{item.1}}</td>
          <td>
            <span class="badge badge-pill badge-danger text-lg">Maligno</span>
          </td>
          {% else %}
          <td>{{item.1}}</td>
          <td>
            <span class="badge badge-pill badge-success text-lg">Benigno</span>
          </td>
          {% endif %}
    
          {% if item.2 == 1 %}
          <td>{{item.2}}</td>
          <td>
            <span class="badge badge-pill badge-danger text-lg">Maligno</span>
          </td>
          {% else %}
          <td>{{item.2}}</td>
          <td>
            <span class="badge badge-pill badge-success text-lg">Benigno</span>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<div class="titulos">
  <h5>Representación de los valores del test reales y los valores que fueron predicidos usando el modelo Logistic
    Regression</h5>
</div>
<div id='chart' class='chart' ”></div>
<div class="bottom-chart"></div>
<hr>
<div class="container">
  <div class="row justify-content-center ">
    <div class="col-md-12 ">
      <div class="card">
        <div class="card-header">MODELO REGRESIÓN LOGÍSTICA</div>
        <div class=" text-justify mx-4 mt-2 ">
          <div class="font-weight-bold text-success h5">¿Qué es la regresión logística?</div>
          Este tipo de modelo estadístico (también conocido como modelo logit ) se usa a menudo para la clasificación y
          el análisis predictivo. La regresión logística estima la probabilidad de que ocurra un evento, como votar o no
          votar, en función de un conjunto de datos determinado de variables independientes. Dado que el resultado es
          una probabilidad, la variable dependiente está limitada entre 0 y 1. En la regresión logística, se aplica una
          transformación logit a las probabilidades, es decir, la probabilidad de éxito dividida por la probabilidad de
          fracaso. Esto también se conoce comúnmente como probabilidades logarítmicas, o el logaritmo natural de las
          probabilidades, y esta función logística se representa mediante las siguientes fórmulas:

          <div class="card-body">
            <div class="alert alert-success" role="alert">
              <div class="container">
                <div class="row text-dark">
                  <p>
                  <ul>
                    <li> Logit(pi) = 1/(1+ exp(-pi))</li>
                    <li>ln (pi / (1-pi)) = Beta_0 + Beta_1 * X_1 +… + B_k * K_k</li>
                  </ul>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

          <div class="card-body">
            <div class="alert alert-primary" role="alert">
              <div class="container">
                <h4>Predicción de salida con los datos de prueba</h4>
                <p>
                  La regresión logística es un algoritmo de clasificación de aprendizaje automático que se utiliza para
                  predecir la probabilidad de una variable dependiente categórica. En la regresión logística, la
                  variable dependiente es una variable binaria que contiene datos codificados como 1 o 0.
                </p>
              </div>
            </div>

          </div>


          <div class="card-body">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading text-dark">Tasa de precisión</h4>
        
              <div class="container">
                <div class="row text-dark">
                  <p>
                    Podemos usar la función <b>precision_score()</b> proporcionada por Scikit-Learn para determinar la
                    tasa de precisión de nuestro
                    modelo con regresión logística.
                  </p>
                </div>
              </div>
            </div>
        
          </div>


      </div>
    </div>
  </div>
</div>

{% endblock %}