{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block body %}

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Modelo</th>
        <th scope="col">Precision</th>
        <th scope="col">% Datos de entrenamiento</th>
        <th scope="col">% Datos de prueba</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <th class="column" scope="row">Logistic Regression</th>
        <td>{{ precision }}</td>
        <td>70%</td>
        <td>30%</td>
      </tr>
    </tbody>
  </table>
</div>

<hr>
<div class="titulos">
  <h5>Tabla comparativa de los valores reales y los valores de prediccion</h5>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="table-info">
          <th scope="col">#ID</th>
          <th scope="col">Valor real</th>
          <th scope="col">Predicción</th>
        </tr>
      </thead>
      <tbody>
       
        {% for item in data %}
        
        <sp>
          <th scope="row">{{ item.0}}</th>
          <td>{{item.1}}</td>
          <td>{{ item.2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ macros.pagination_widget(pages, 'model_logistic') }}

  </div>
</div>
<hr>

<hr>
<div class="titulos">
  <h5>Representación de los valores del test reales y los valores que fueron predicidos usando el modelo Logistic Regression</h5>
</div>
<div class="imagen">
  <img src="{{ imagen }}" class="img-fluid mx-auto d-block" alt="" width="600">
</div>
<figure >
  
  <figcaption></figcaption>
</figure>


 

{% endblock %}