{% extends "base.html" %}
{% block body %}

<div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Modelo</th>
          <th scope="col">Precision</th>
          <th scope="col">% Datos de entrenamiento</th>
          <th scope="col">% Datos de prueba</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-success">
          <th class="column" scope="row">Logistic Regression</th>
          <td>{{ precision }}</td>
          <td>75%</td>
          <td>25%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div class="titulos">
    <h5>Tabla comparativa de los valores reales y los valores de prediccion</h5>
  </div>
  <table class="table table-hover table-bordered" id="example" class="display" style="width:100%">
    <thead>
        <tr class="table-info">
          <th scope="col" >#ID</th>
          <th scope="col" >Valor real</th>
          <th scope="col"></th>
          <th scope="col" >Predicción</th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
      {% for item in data %}
          <tr>
            <th>{{ item.0}}</th>
            {% if item.1 == 1 %}
            <td>{{item.1}}</td>
            <td>
              <span class="badge badge-pill badge-danger text-lg">Maligno</span>
            </td>
            {% else %}
            <td>{{item.1}}</td>
            <td>
              <span class="badge badge-pill badge-success text-lg">Benigno</span>
            </td>
            {% endif %}
      
            {% if item.2 == 1 %}
            <td>{{item.2}}</td>
            <td>
              <span class="badge badge-pill badge-danger text-lg">Maligno</span>
            </td>
            {% else %}
            <td>{{item.2}}</td>
            <td>
              <span class="badge badge-pill badge-success text-lg">Benigno</span>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
      </tbody>
  </table>
  <hr>
  <div class="titulos">
    <h5>Representación de los valores del test reales y los valores que fueron predicidos usando el modelo Logistic
      Regression</h5>
  </div>
  <div id='chart' class='chart' ”></div>
  <div class="bottom-chart"></div>
  <hr>


<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-12 ">
            <div class="card">
                <div class="card-header">MODELO CLASIFICADOR DE ARBOLES ALEATORIOS</div>
                <div class=" text-justify mx-4 mt-2 ">
                    <div class="font-weight-bold text-success h5">¿Qué es?</div>
                    <p>
                        El bosque aleatorio o el bosque de decisiones aleatorias es un algoritmo de aprendizaje
                        automático supervisado que se utiliza para la clasificación, la regresión y otras tareas
                        mediante árboles de decisión. El clasificador de bosque aleatorio crea un conjunto de árboles de
                        decisión a partir de un subconjunto seleccionado al azar del conjunto de entrenamiento.
                        Básicamente es un conjunto de árboles de decisión (DT) de un subconjunto seleccionado al azar
                        del conjunto de entrenamiento y luego recopila los votos de diferentes árboles de decisión para
                        decidir la predicción final. En este algoritmo de clasificación, utilizaremos conjuntos de datos
                        de flores de IRIS para entrenar y probar el modelo.
                    </p>

                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            <div class="container">
                                <div class="row text-dark">
                                    <p>
                                        La clasificación aleatoria de bosques utiliza una técnica de conjunto para
                                        obtener el resultado deseado. Se entrenan varios árboles de decisión utilizando
                                        los datos de entrenamiento. Este conjunto de datos contiene observaciones y
                                        características que se elegirán al azar cuando se dividan los nodos. En un
                                        sistema de selva tropical se utilizan varios árboles de decisión.

                                        <br>

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container">
                    <div class="card-body">
                        <div class="alert alert-primary" role="alert">
                            <div class="container">
                                <h4>Predicción de salida con los datos de prueba</h4>
                                <p>
                                    Random Forest es un clasificador que contiene una serie de árboles de decisión
                                    en varios subconjuntos del conjunto de datos dado y toma el promedio para
                                    mejorar la precisión predictiva de ese conjunto de datos. Aquí, estamos
                                    utilizando el método RandomForestClassifier de la clase de conjunto para
                                    implementar el algoritmo de clasificación de bosque aleatorio.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading text-dark">Tasa de precisión</h4>

                            <div class="container">
                                <div class="row text-dark">
                                    <p>
                                        Podemos usar la función 
                                        <b>precision_score() </b> proporcionada por <b>Scikit-Learn</b>
                                         para determinar la tasa de precisión de nuestro modelo con 
                                         el algoritmo clasificador Random Forest.


                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>
            <br> <br>
        </div>
    </div>
</div>

{% endblock %}